[user]
	name = Phil Hindman
	email = pahindman@user.noreply.github.com
[core]
	excludesfile=~/.gitignore
[branch]
	autosetupmerge=always
	autosetuprebase=always
[push]
	default = simple
[pull]
	rebase = true
[init]
	defaultBranch = main
[alias]
	sb = show-branch
[rebase]
	autosquash = true
[include]
	path = .gitconfig.local
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
