[user]
   name = Phil Hindman
   email = pahindman@user.noreply.github.com
[core]
   excludesfile=~/.gitignore
	editor = vim
[branch]
   autosetupmerge=always
   autosetuprebase=local
[push]
   default = simple
[init]
	defaultBranch = main
